{% extends "base.html" %}

{% block sidebar %}
{% include "fingerprint/sidebar_user.html" %}
{% endblock %}

{% block header %}
<h1>Fingerprints</h1>
{% endblock %}

{% block content %}
<ul data-role="listview" data-inset="true">
    {% if template %}
        <li>{{ template }}</li>
        <a href="{% url 'enrollment' %}" class="ui-btn ui-shadow">Change Fingerprint</a>
    {% else %}
        <h2>No Fingerprints created</h2>
        <a href="{% url 'enrollment' %}" class="ui-btn ui-shadow">Create Fingerprint</a>
    {% endif %}
</ul>
{% endblock %}