{% extends "base.html" %}

{% block sidebar %}
{% include "fingerprint/sidebar_user.html" %}
{% endblock %}

{% block header %}
<h1>Fingerprints</h1>
{% endblock %}

{% block content %}
<ul data-role="listview" data-inset="true">
    {% if fingerprint %}
        <li>{{ fingerprint.first_finger }}</li>
        <li>{{ fingerprint.second_finger }}</li>
        <li>{{ fingerprint.third_finger }}</li>
    {% else %}
        <h2>No Fingerprints created</h2>
        <a href="test" class="ui-btn ui-shadow">Create Fingerprint</a>
    {% endif %}
</ul>
{% endblock %}