{% extends "base.html" %}

{% block sidebar %}
{% include "fingerprint/sidebar_user.html" %}
{% endblock %}

{% block header %}
<h1>Profile</h1>
{% endblock %}

{% block content %}
<form action="{% url 'save_profile_changes' %}" method="post">{% csrf_token %}
    <div data-role="fieldcontain" class="ui-hide-lable">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value= "{{ username }}" placeholder="username" />
    </div>
    <div data-role="fieldcontain" class="ui-hide-lable">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" value="{{ first_name}}" placeholder="first name"/>
    </div>
    <div data-role="fieldcontain" class="ui-hide-lable">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" value="{{ last_name }}" placeholder="last name"/>
    </div>
    <div data-role="fieldcontain" class="ui-hide-lable">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="{{ email }}" placeholder="email@email.com"/>
    </div>
    <div data-role="fieldcontain" class="ui-hide-lable">
    	<label for="old_password">Old Password:</label>
    	<input type="password" name="old_password" id="old_password" placeholder="old password"/>
    </div>
    <div data-role="fieldcontain" class="ui-hide-lable">
    	<label for="new_password">New Password:</label>
    	<input type="password" name="new_password" id="new_password" placeholder="new password"/>
    </div>
    <div data-role="fieldcontain" class="ui-hide-lable">
    	<label for="new_password_again">New Password again:</label>
    	<input type="password" name="new_password_again" id="new_password_again" placeholder="new password again"/>
    </div>
    <input type="submit" value="Save Changes">
    
</form>



{% endblock %}
