{% extends "base.html" %}

{% block attr %}
"display:none;"
{% endblock %}

{% block sidebar %}
<h2>Test</h2>
{% endblock %}

{% block header %}
<h1>{{ priv }} Login</h1>
{% endblock %}

{% block content %}
{% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
{% endif %}

<form action="{% url 'auth' %}?priv={{ priv }}" method="post">{% csrf_token %}
    <div data-role="fieldcontain" class="ui-hide-lable">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="" placeholder="Username"/>
    </div>
    <div data-role="fieldcontain" class="ui-hide-lable">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="" placeholder="Password"/>
    </div>
    <input type="submit" value="login">

</form>
<a href="{% url 'registration' %}" class="ui-btn ui-shadow">Registrate</a>
<a href="{% url 'login' %}?priv=Admin" class="ui-btn ui-btn-inline">Admin</a>
{% endblock %}
